body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-s {
  color: #2e2f42;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.addr-email,
.addr-tel {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.studio,
.portfolio,
.contacts {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
