body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* header */
.header {
  background: #fff;
}
.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-s {
  color: #2e2f42;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.addr-link {
  font-family: "inherit";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.addr-link:hover,
.addr-link:focus {
  color: #404bbf;
}

/* title box */
.hero-ttl {
  background: #2e2f42;
}
.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  color: #fff;
}
.btn {
  background: #4d5ae5;
  cursor: pointer;
  font-family: "inherit";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
}
.btn:hover,
.btn:focus {
  background: #404bbf;
}

/* Our Team */
.our-team {
  background: #f4f4fd;
}
.card-item {
  background: #fff;
}

/* Our Portfolio */
.pr-card {
  background: #fff;
}

/* Footer */
.footer {
  background: #2e2f42;
}
.f-logo-s {
  color: #f4f4fd;
}
.f-text {
  color: #f4f4fd;
}
